*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* navigation bar and header */
#header{
    .container{
        border-style: double;
        border-radius: 20px;
        border-color: red;
        transition: background 0.5s, border-color 0.5s, transform 0.5s;
    }
    .container:hover{
        background: rgb(66, 64, 64);
        border-color: #07f33e;
        transform: scale(1.1);
    }
}
body{
    background-color: rgb(59, 13, 13);
    color: #89dbf5;
}
#header{
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
}
.container{
    margin: 10px 10%;
    border-width: 5px;
}
.logo{
    margin-left: 15px;
    height: 1.5cm;
    width: 4cm;
}
ul{
    padding-left: 6cm;
    list-style-type: none;
}
nav{
    display: inline-flex;
    padding-top: 0%;
    border-radius: 20px;
}
nav ul{
    display: inline-flex;
    flex-direction: row;
}
nav ul li a{
    text-decoration: none;
    color: #d4f307;
    margin: 0.5cm;
    font-weight: 1000;
    font-size: 30px;
    transition: color 0.5s, text-decoration-line 0.5s;
}
nav ul li a:hover{
    text-size-adjust: 50px;
    color: #5207f3;
    cursor: pointer;
}
.header-text{
    font-size: 30px;
    margin: 5px;
}
.header-text h1{
    font-size: 40px;
    margin-top: 10px;
}
.header-text h1 span{
    color: rgb(6, 216, 59);
    transition: color 0.5s;
}
.header-text h1 span:hover{
    color: #b0f307;
}
.link{
    position: relative;
}
.link::after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: rgb(53, 219, 94);
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
.link:hover:after{
    width: 100%;
    left: 0;
    background: #f04208;
}
/* about */
#about{
    height: 650px;
}
.row{
    margin-top: 50px;
    margin-bottom: 0px;
}
.about-col-1 img{
    width: 8px;
    height: 600px;
    border: #f32a07;
    border-style: double;
    border-width: 10px;
    transition: transform 0.5s, border-color 0.5s;
}
.about-col-1 img:hover{
    transform: scale(1.1);
    border-color: rgb(12, 251, 8);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 90%;
    border-radius: 20px;
}
.about-col-2{
    padding-left: 10px;
    flex-basis: 60%;
    border-style: double;
    border-width: 10px;
    border-color: red;
    border-radius: 20px;
    transition: border-color 0.5s, background-color 0.5s, transform 0.5s;
}
.about-col-2 p{
    margin-top: 20px;
}
.about-col-2:hover{
    border-color: rgb(12, 251, 8);
    background-color: rgb(66, 64, 64);
    transform: scale(1.1);
}
.sub-title{
    font-size: 30px;
    font-weight: 600;
    color: rgb(237, 211, 11);
}
.tab-titles{
    color: yellow;
    display: flex;
    margin: 20px 0 20px;
}
.tab-links{
    font-size: 50px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(224, 13, 147);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul{
    padding-left: 0;
}
.tab-contentsul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: rgb(207, 239, 27);
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.link1{
    position: relative;
}
.link1::after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: rgb(53, 219, 94);
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
.link1:hover:after{
    width: 28%;
    left: 0;
    background: #f04208;
}
/* My Projects */
.container h1{
    font-size: 40px;
}
#services{
    padding: 30px 0;
}
.services-list h1{
    font-size: 30px;
    color: rgb(236, 224, 4);
    padding-bottom: 20px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    color: rgb(230, 15, 15);
}
.services-list ul{
    padding-left: 20px;
    list-style-type: circle;
}
.services-list div{
    padding: 40px;
    border-style: double;
    border-width: 10px;
    border-color: red;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div:hover{
    background-color: rgb(66, 64, 64);
    transform: scale(1.1);
    border-color: #07f33e;
}
.services-list div a{
    font-size: 20px;
}
/* My profile */
.portfolio{
    padding: 50px 0;
}
.work-list{
    display: inline-flex;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    color: rgb(249, 240, 247);
}
.work{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    border-style: double;
    border-width: 10px;
    border-color: rgb(235, 31, 31);
    border-radius: 20px;
    transition: transform 0.5s, border-color 0.5s;
}
.work:hover{
    border-color: #07f33e;
    transform: scale(1.2);
}
.work h2{
    text-align: center;
    font-size: 20px;
    background: rgb(198, 28, 56);
} 
.work img{
    width: 100%;
    display: block;
}
.layer{
    padding-left: 10px;
    width: 100%;
    height: 0;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    color: #89dbf5;
    transition: height 0.5s, background 0.5s;
}
.layer p{
    font-size: 15px;
}
.layer a{
    padding-top: 20px;
    font-size: 20px;
}
.layer:hover{
    height: 100%;
}
.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
}
.work:hover .layer{
    background: linear-gradient(rgba(0,0,0,0.6), rgb(243, 36, 70));
    height: 100%;
}
.btn{
    text-decoration: none;
    color: azure;
    margin: 50px auto;
    padding: 10px;
    display: block;
    width: fit-content;
    border-style: double;
    border-radius: 20px;
    border-width: 6px;
    transition: background-Color 0.5s, transform 0.5s;
}
.btn:hover{
    background-color: #b3786e;
    transform: scale(1.2);
}
/* contact */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 20px;
}
.contact-left p i{
    color: #f32a07;
    margin-right: 10px;
    font-size: 20px;
}
.btn.btn2{
    display: inline-block;
    margin-top: 20px;
    background-color: #f32a07;
    border-color: rgb(15, 10, 2);
}
.social-icons{
    margin-top: 20px;
}
.social-icons a{
    text-decoration: none;
    margin-right: 20px;
    color: #f32a07;
    font-size: 20px;
    display: inline-block;
    transition: color 0.5s, transform  0.5s;
}
.social-icons a:hover{
    color: #07f33e;
    transform: scale(1.5);
}
form  button{
    cursor: pointer;
}
form input, form textarea{
    width: 100%;
    border: #f32a07;
    outline: #f32a07;
    padding: 15px;
    margin: 15px 0;
    background: #383841;
    color: #fff;
    font-size: 15px;
    border-radius: 20px;
    transition: transform 0.5s;
}
form  input:hover{
    transform: scale(1.1);
}
form textarea:hover{
    transform: scale(1.1);
}
.copyright{
    text-align: center;
    color: #0a0303;
    padding: 10px 15px;
    margin-top: 20px;
    background: #ae8d88;
    font-size: 20px;
}
/* css for small screen */
@media only screen and (max-width: 600px){
}