*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* navigation bar and header */
#header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 3vh 6vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
body{
    /* background-image: url('images/background.gif'); */
    background-color: #000;
}
.logo{
    margin-left: 15px;
    height: 1.5cm;
    width: 4cm;
}
ul{
    padding-left: 2vw;
    list-style-type: none;
}
nav{
    background: #07711f;
    display: inline-flex;
    border-style: ridge;
    border-radius: 10px;
    border-color: #74ed61;
    border-width: 5px;
}
nav ul{
    display: inline-flex;
    flex-direction: row;
    font-size: 2em;
}
nav ul li a{
    text-decoration: none;
    color: #d4f307;
    margin: 0.5cm;
    font-weight: 1000;
    font-size: 30px;
    transition: color 0.5s, text-decoration-line 0.5s;
}
nav ul li a:hover{
    text-size-adjust: 50px;
    color: #ab8af3;
    cursor: pointer;
}
.header-text{
    font-size: 30px;
    margin: 5px;
    color: white;
}
.header-text h1{
    font-size: 40px;
    margin-top: 10px;
    color: white;
}
.header-text h1 span{
    color: rgb(255, 251, 0);
    transition: color 0.5s;
}
.header-text h1 span:hover{
    color: #eff307;
}
.link{
    position: relative;
}
.link::after{
    content: '';
    position: absolute;
    width: 0; height: 5px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: rgb(53, 219, 94);
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
.link:hover:after{
    width: 100%;
    left: 0;
    background: #f04208;
}
/* info styles */
.info{
    width: auto;
    font-size: larger;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    transition: 1s;

}
.info:hover{
    color: red;
    transform: scale(1.2);
    background-color: #d4f307;
}
/* about */
#about.row{
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 100vh;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5vw;
}
.about-col-1 img{
    width: 30vw;
    height: 60vh;
    border: #ffffff;
    border-style: groove;
    border-radius: 10px;
    border-width: 10px;
    filter: blur(1px);
    transition: 0.5s;
}
.about-col-1 img:hover{
    filter: none;
    transform: scale(0.9);
}
.about-col-1 p{
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
.about-col-1{
    flex-basis: 30%;
}
.about-col-1 button{
    align-items: center;
    margin-top: 2vh;
    border-radius: 10px;
    color: blueviolet;
    background-color: #74ed61;
    padding: 1vh;
}
.about-col-2{
    padding-left: 10px;
    flex-basis: 65%;
    border-style: groove;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: #ffffff;
    transition: background-color 1s;
    filter: blur(1px);
}
.about-col-2:hover{
    background-color: #e53030;
    filter: none;
}
.sub-title{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: rgb(221, 255, 0);
}
.tab-titles{
    color: rgb(85, 255, 0);
    display: flex;
    margin: 20px 0 20px;
}
.tab-titles p{
    color: rgb(217, 255, 0);
}
.tab-links{
    font-size: 50px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    font-size: 2em;
    font-weight: bold;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 5px;
    background-color: rgb(40, 4, 243);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul{
    padding-top: 2vh;
    padding-left: 0;
    color: #ffffff;
}
.tab-contents ul li{
    list-style: none;
}
.tab-contents ul li span{
    color: rgb(245, 245, 30);
    font-size: 1.2em;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.link1{
    position: relative;
}
.link1::after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: rgb(53, 219, 94);
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
.link1:hover:after{
    width: 35%;
    left: 0;
    background: #f04208;
}
/* experience */
.date-format{
    font-size: 1.3vw;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: rgb(255, 255, 255);
    
}
/* My Projects */
.container h1{
    font-size: 40px;
}
#services{
    padding: 30px 0;
}
.services-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 5vw;
}
.services-list h1{
    font-size: 30px;
    color: rgb(236, 224, 4);
    padding-bottom: 20px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list ul{
    padding-left: 20px;
    list-style-type: circle;
    color: white;
}
.services-list div{
    padding: 40px;
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    filter: blur(1px);
}
.services-list div:hover{
    background: linear-gradient(to right, rgb(193, 97, 97) 50%, rgb(51, 98, 137) 80%) right;
    background-size: 150% 100%;
    transform: scale(1.1);
    border-color: #07f33e;
    filter: none;
}
.services-list div a{
    margin-left: 2vw;
    color: red;
    font-size: 20px;
    transition: color 0.5s;
    filter: blur(1px);
}
.services-list div a:hover{
    color: yellow;
    filter: none;
}
/* My profile */
.portfolio{
    padding: 1vh 0;
}
.work-list{
    display: inline-flex;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 1.5vw;
    margin-top: 50px;
    flex-wrap: wrap;
    padding: 0 8vw;
}
.work{
    width: 15vw;
    height: 35vh;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: transform 0.5s, border-color 0.5s;
    filter: blur(1px);
}
.work:hover{
    border-color: #07f33e;
    transform: scale(1.2);
    filter: none;
}
.work h2{
    text-align: center;
    font-size: 20px;
    background: rgb(235, 29, 63);
}
.work img{
    width: 100%;
    height: 95%;
}
.layer{
    padding-left: 10px;
    width: 100%;
    height: 0;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    color: #ffea01;
    transition: height 0.5s, background 0.5s;
}
.layer p{
    font-size: 15px;
}
.layer a{
    align-content: center;
    padding-top: 20px;
    font-size: 20px;
}
.layer:hover{
    height: 100%;
}
.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
}
.work:hover .layer{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgb(243, 36, 70));
    height: 100%;
}

/* contact */
.contact-left{
    padding-left: 5vw;
    flex-basis: 35%;
    color: white;
}
.contact-right{
    flex-basis: 55%;
    padding-left: 2.5vh;
}
.contact-left p{
    margin-top: 20px;
}
.contact-left p i{
    color: #f32a07;
    margin-right: 10px;
    font-size: 20px;
}
.social-icons{
    margin: 3vh 0;
}
.social-icons a{
    text-decoration: none;
    margin-right: 20px;
    color: #f32a07;
    font-size: 20px;
    display: inline-block;
    transition: color 0.5s, transform  0.5s;
}
.social-icons a:hover{
    color: #e7f307;
    transform: scale(1.5);
}
form  button{
    cursor: pointer;
}
form input, form textarea{
    width: 100%;
    border: #f32a07;
    outline: #f32a07;
    padding: 15px;
    margin: 15px 0;
    background: #e7e7f6;
    color: #040404;
    font-size: 15px;
    border-radius: 20px;
    transition: transform 0.5s;
}
form  input:hover{
    transform: scale(1.1);
}
form textarea:hover{
    transform: scale(1.1);
}
.copyright{
    text-align: center;
    color: #f20808;
    padding: 10px 15px;
    background: #ae8d88;
    font-size: 20px;
}
.title{
    color: yellow;
}
.btn2{
    background: rgb(102, 35, 35);
}
.btn{
    color: red;
    text-decoration: none;
    background: #89dbf5;
    padding: 1vh 2vw;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.btn:hover{
    background: green;
    transform: scale(1.1);
}
/* popup */
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: rgb(168, 70, 70);
    opacity: 0;
    animation: popup .5s 5s ease forwards;
}
@keyframes popup {
    from {opacity: 0; }
    to{opacity: 1; }
}

.lightbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toolbarLB {
    text-align: right;
    padding: 1em;
}
.closeLB {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 30px;
    transition: color 0.5s;
}
.closeLB:hover{
    color: rgb(0, 4, 255);
}
.lightbox .iframeContainer {
    height: 50vh;
    vertical-align: middle;
    background: #e53a3a;
    border-style: ridge;
    border-width: 15px;
    border-radius: 20px;
    border-color: #0b0b0b;
    text-align: center;
}
.lightbox.closed {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.7s;
    transition: opacity 0.7s;
}
.iframeContainer p{
    color: rgb(11, 9, 9);
}
.welcome{
    padding-top: 2vh;
    font-size: 3em;
    font-weight: 1000;
    font-style: italic;
}
/* hover popup */
.tooltip span{
    position: relative;
    top: 8px;
    width: 2vw; 
    border: #f9fd02 2px double;
    border-radius: 20px;
    background: #85af7d;
    padding: 10px;
    z-index: 1000000;
    display: inline;
    opacity: 0;
    transition: 0.5s all;
}
.tooltip:hover span{
    outline: none;
    text-decoration: none;
    font-size: 70%;
    color: #000;
    opacity: 0.8;
}
/* popup animation */
@keyframes popup {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(100%);
    }
}
.lightbox {
    animation: 0.6s ease-out 0s 1 popup;
    padding: 40px;
}

#my-div{
    width: 1em;
    height: 1em;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(16, 0, 54, 0.2);
    transition: 0.1s ease-out;
    opacity: 0.5;
}

/* css for small screen */
@media only screen and (max-width: 630px){

}